* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(168, 168, 168);
}

.container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.image1 {
  width: 500px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(136, 136, 136, 0.623);
}

.titles {
  margin: 10px 0;
  text-align: center;
}

.button {
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
}

.center-aligned {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}
